.careers {
    padding-top: var(--navHeight);
}

.careers > * {
    width: 60%;
    margin: auto;
}

/*
BANNER
*/

.careersBanner {
    background-color: var(--themeColorPrimary);
    height: 10rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.careersBanner > h1 { 
    background-color: var(--themeColorDark);
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .25rem .8rem;
    font-size: 1.6rem;
}

/*
ROLES
*/

.careersRoles {
    display: flex;
    margin-bottom: 4rem;
}

.careersRoles > * {
    width: 100%;
    background-color: var(--themeColorAccent);
}

.careersRoles_card {
    padding-bottom: 2rem;
    position: relative;
}

.careersRoles_cardMiddle {
    margin: 0 1rem;
}

.careersRoles_card > img {
    width: 100%;
    background-color: red;
}

.careersRoles_role {
    border: 1px solid white;
    border-radius: 4px;
    background-color: var(--themeColorDark);
    color: white;
    min-height: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: block;
    margin-top: -.4rem;
    transform: translateY(-50%);
    position: relative;
    padding: .1rem .7rem;
    margin-bottom: .8rem;
    transition:
        background-color .2s,
        border-color .2s,
        color .2s;
}

.careersRoles_role:hover {
    background-color: var(--themeColorAccentNeg10);
    border-color: var(--themeColorAccentNeg10);
    color: black;
    cursor: pointer;
}

.careersRoles_card > h3 {
    text-align: center;
    font-size: .7rem;
    color: black;
    font-weight: 600;
    padding: 0 .5ch;
}

.careersRoles_applyNow {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    height: .75rem;
    bottom: .5rem;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--themeColorPrimary);
    border: 1px solid var(--themeColorPrimary);
    transition:
        background-color .2s,
        border-color .2s,
        color .2s;
}

.careersRoles_applyNow:hover {
    cursor: pointer;
    background-color: var(--themeColorDark);
    color: white;
    border-color: white;
}