.careersSub {
    padding-top: var(--navHeight);
}

.careersSub > * {
    max-width: 60%;
    margin: auto;
}

/*
BANNER
*/

.careersSubBanner {
    background-color: var(--themeColorPrimary);
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.careersSubBanner > h1 {
    font-size: 1.55rem;
    max-width: 15ch;
    text-align: center;
    background-color: var(--themeColorDark);
    padding: .5rem 0;
}

/*
ROLES
*/

.careersSubRoles {
    padding: 2.5rem 1rem;
}

.careersSubRoles > h2 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.careersSubRoles > ul {
    color: lightgray;
    font-size: .5rem;
    padding-left: 4ch;
}

/*
FORM
*/

.careersSub > form {
    background-color: var(--themeColorPrimary);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.careersSub > form > h2 {
    margin-left: 10%;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.careersSubForm_inputs {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    width: 80%;
    margin-bottom: 1rem;
}

.careersSubForm_inputs > * {
    width: 50%;
}

.careersSubForm_inputs > label {
    font-size: .4rem;
    margin-top: .1rem;
}

.careersSubForm_inputs input,
.careersSubForm_inputs select {
    width: 10rem;
    margin-top: .1rem;
    outline: none;
    border: 2px solid white;
    background-color: inherit;
    color: white;
    height: 1.5rem;
    padding: 0 2ch;
}

.careersSubForm_inputs input::placeholder,
.careersSubForm_inputs select::placeholder {
    color: white;
}

.careersSubForm_inputs input:hover,
.careersSubForm_inputs select:hover {
    background-color: rgba(255, 100, 90);
}

.careersSubForm_inputs option {
    color: black;
}

.careersSubForm_inputs .careersSubForm_resume {
    border: none;
    border-bottom: 2px solid white;
    margin-top: .4rem;
}

.careersSubForm_apply {
    border: none;
    background-color: white;
    color: rgba(255, 120, 120);
    font-family: 'Yantramanav', sans-serif;
    font-size: .6rem;
    font-weight: bold;
    padding: .4rem 4rem;
    margin: auto;
    display: block;
}

.careersSubForm_apply:hover {
    color: var(--themeColorPrimary);
    opacity: .95;
    transform: scale(1.01);
    cursor: pointer;
}