/*
BANNER
*/

.getStartedBanner {
    padding-top: var(--navHeight);
    padding-left: 3.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--themeColorAccentNeg10);
}

.getStartedBanner > h1 {
    font-size: 1.7rem;
    margin-bottom: .2rem;
}

.getStartedBanner > p {
    font-size: .7rem;
}

/*
BODY
*/

.getStartedBody {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.getStartedBody > * {
    width: 100%;
    position: relative;
}

.getStartedBody_left > p {
    font-size: .55rem;
    max-width: 20ch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}

.getStartedBody_right > form {
    font-family: 'Yantramanav', sans-serif;
    width: fit-content;
}

.getStartedBody_right > form > h2 {
    font-size: 1.1rem;
}

.getStartedBody_right > form > * {
    margin-bottom: 1rem;
}

.getStartedBody_right > form label {
    margin-right: .4rem;
    font-size: .55rem;
}

.getStartedBody_formTop,
.getStartedBody_formBottom {
    display: flex;
}

.getStartedBody_message {
    width: 100%;
}

.getStartedBody_message > textarea {
    width: 100%;
}

.getStartedBody input { 
    outline: none;
    background-color: inherit;
    border: 1px solid gray;
    height: 1.2rem;
    padding-left: 2ch;
    margin-top: .2rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 7rem;
}

.getStartedBody input:focus { 
    border: 1px solid var(--themeColorPrimary);
}

.getStartedBody textarea { 
    outline: none;
    background-color: inherit;
    border: 1px solid gray;
    margin-top: .2rem;
    height: 4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1ch 2ch;
    margin-bottom: .4rem;
}

.getStartedBody input::placeholder,
.getStartedBody textarea::placeholder {
    color: gray;
}

.getStartedBody textarea:focus {
    border: 1px solid var(--themeColorPrimary);
}

.getStartedBody_submit {
    border: none;
    background-color: var(--themeColorPrimary);
    font-family: 'Poppins', sans-serif;
    color: var(--themeColorDark);
    padding: .25rem 1.25rem;
    transition: opacity .2s;
}

.getStartedBody_submit:hover {
    opacity: .8;
    cursor: pointer;
}