
/*
BANNER
*/

.industriesSub {
    padding-top: var(--navHeight);
}

.industriesSubBanner {
    padding: 1rem 2rem;
    position: relative;
}

.industriesSubBanner_card {
    position: absolute;
    background-color: var(--themeColorDarkNeg10);
    top: 17%;
    padding: 2rem 4rem;
    box-shadow: 0 0 .2rem 0 var(--themeColorDark);
}

.industriesSubBanner_card > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.industriesSubBanner_card > p {
    font-size: .6rem;
    max-width: 36ch;
    margin-bottom: 1rem;
}

.industriesSubBanner_demo {
    border: 2px solid var(--themeColorPrimary);
    display: flex;
    align-items: center;
    padding: .25rem .7rem;
    color: white;
    background-color: var(--themeColorPrimary);
    transition:
        background-color .4s,
        color .4s;
    width: fit-content;
}

.industriesSubBanner_demo:hover {
    background-color: var(--themeColorPrimary);
    cursor: pointer;
    background-color: var(--themeColorDarkNeg10);
}

.industriesSubBanner_demo > p {
    font-size: .45rem;
    font-family: 'Yantramanav', sans-serif;
    margin-right: .2rem;
}

.industriesSubBanner > img {
    display: block;
    width: 70%;
    margin-left: auto;
}

/*
UNDERBANNER
*/

.industriesSubUnderBanner {
    background-color: var(--themeColorPrimary);
    padding: 2.4rem 1rem;
}

.industriesSubUnderBanner > p {
    max-width: 36ch;
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
}

/*
SOLUTIONS
*/

.industriesSubSolutions > h2 {
    margin: 1rem;
    text-align: center;
}

.industriesSubSolutions_list {
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.industriesSubSolutions_item {
    text-align: center;
    margin: 1rem;
}

.industriesSubSolutions_item > h3 {
    color: var(--themeColorPrimary);
    font-size: .7rem;
    max-width: 15ch;
    margin: auto;
    margin-bottom: .8rem;
}

.industriesSubSolutions_item > p {
    font-size: .5rem;
    max-width: 25ch;
    margin: auto;
}

/*
FOOTER
*/

.industriesSubFooter {
    background-color: var(--themeColorAccentNeg10);
    padding: 3rem 1rem;
}

.industriesSubFooter > p {
    max-width: 50ch;
    text-align: center;
    margin: auto;
}