.aboutUs {
    padding-top: var(--navHeight);
}

.aboutUs_hr {
    height: 2px;
    background-color: white;
    width: 1rem;
    margin: -4px auto .8rem auto;
    border-radius: 4px;
}

/*
TOP
*/

.aboutUsTop {
    margin: 2rem;
    text-align: center;
}

.aboutUsTop > h1 {
    font-size: 1.55rem;
    margin-bottom: .3rem;
}

.aboutUsTop > h4 {
    font-size: .6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.aboutUsTop > p {
    width: fit-content;
    margin: auto;
    font-size: .55rem;
    max-width: 85ch;
}

/*
SPLASHIMG
*/

.aboutUsSplashimg {
    width: 90%;
    height: 10rem;
    background-color: var(--themeColorPrimary);
    margin: auto;
    margin-bottom: 1rem;
}

/*
OURSTORY
*/
.aboutUsOurstory {
    text-align: center;
}

.aboutUsOurstory > h2 {
    font-size: 1.2rem;
}

.aboutUsOurstory > p {
    font-size: .5rem;
    max-width: 80ch;
    margin: auto;
    margin-bottom: 2.5rem;
}

/*
LEADERSHIP
*/

.aboutUsLeadership > h2 {
    font-size: 1.1rem;
    margin: auto;
    text-align: center;
    margin-bottom: .2rem;
}

.aboutUsLeadership_cards {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.aboutUsLeadership_card {
    min-width: 13rem;
    background-color: var(--themeColorAccentNeg10);
    margin: 1rem;
    padding: .5rem 1rem;
    position: relative;
}

.aboutUsLeadership_card > img {
    width: 6rem;
    border-radius: 50%;
    background-color: red;
    display: block;
    margin: 0 auto 1rem auto;
}

.aboutUsLeadership_card > p {
    font-size: .85rem;
}

.aboutUsLeadership_title {
    font-weight: bold;
}

.aboutUsLeadership_in {
    position: absolute;
    bottom: .5rem;
    right: 2rem;
    font-size: .6rem;
    color: black;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

/*
ADVISORY
*/

.aboutUsAdvisory {
    margin-bottom: 4rem;
}

.aboutUsAdvisory > h2 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: .6rem;
}

.aboutUsAdvisory_members {
    background-color: var(--themeColorAccentNeg10);
    display: flex;
    width: 100%;
    justify-content: center;
}

.aboutUsAdvisory_member {
    flex-direction: flex;
    flex-direction: column;
    margin: .5rem 1rem;
    text-align: center;
}

.aboutUsAdvisory_member > img {
    width: 5rem;
    background-color: red;
    border-radius: 50%;
    margin-bottom: .8rem;
}

.aboutUsAdvisory_name {
    font-size: .7rem;
    font-weight: 600;
}

.aboutUsAdvisory_in {
    display: block;
    margin: auto;
    width: fit-content;
    bottom: .5rem;
    right: 2rem;
    color: gray;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

/*
NEWS
*/

.aboutUsNews > h2 {
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    margin-bottom: .4rem;
}

.aboutUsNews_articles {
    display: flex;
    justify-content: center;
    padding-bottom: .4rem;
    border-bottom: 3rem solid black;
}

.aboutUsNews_article {
    width: 10rem;
    background-color: var(--themeColorAccent);
    padding: .5rem;
    padding-bottom: 2rem;
    position: relative;
    margin: 0 .8rem;
}

.aboutUsNews_article > img {
    width: 100%;
    background-color: red;
}

.aboutUsNews_article > p {
    font-size: .5rem;
    color: gray;
    margin-bottom: .3rem;
}

.aboutUsNews_article > h3 {
    color: var(--themeColorPrimary);
    font-family: 'Noto Serif', serif;
    font-size: .6rem;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: .3rem;
}

.aboutUsNews_view {
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: .5rem;
    padding: 0 .4rem;
    height: 1rem;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    transition:
        color .4s,
        background-color .2s;
}

.aboutUsNews_view:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/*
HIRING
*/

.aboutUsHiring {
    display: flex;
    background-color: var(--themeColorAccentNeg10);
}

.aboutUsHiring_left {
    width: 45%;
}

.aboutUsHiring_left > img {
    width: 100%;
    background-color: red;
}

.aboutUsHiring_right {
    width: 55%;
    position: relative;
}

.aboutUsHiring_text {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.aboutUsHiring_text > h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .6rem;
}

.aboutUsHiring_text > p {
    font-size: .4rem;
    font-style: italic;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.aboutUsHiring_careers {
    border: 4px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: .5rem;
    padding: .2rem 1rem;
    background-color: inherit;
    transition:
        color .4s,
        background-color .2s;
}

.aboutUsHiring_careers:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}